# {{ ansible_managed }}
#
# You should NOT use this file to configure your mongodb instance,
# see the {{ mongodb_conf_dir}}/mongodb.conf file instead.
#
config_file={{ mongodb_conf_dir }}/mongodb.conf